{% extends "base.html" %}
{% load static %}

{% block background_image %}{% static "" %}{% endblock %}
{% block bg-color %}style="background-color: rgba(0, 0, 0, 0.9)"{% endblock %}
{% block footer %}style="background-color: rgb(29, 29, 29) !important;"{% endblock %}
{% block content %}
<style>
#footer-nav{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 3rem;
    flex-direction: row;
}
#footer-nav a{
    color: rgb(209, 209, 209);
    text-decoration: none;
}
#footer-nav a:hover{
    color: rgb(255, 255, 255);
    transform: translateY(-0.2rem);
    transition: color ease-in-out 0.2s, transform ease-in-out 0.15s;

}
#footer-info{
    text-align: center;
    margin-top: 1rem;
}
</style>
<div id="account-container">
<section class="mt-4 py-5">
    <div class="container">
        <div class="row justify-content-center">
        <div id="order-dashboard">
        {% if orders %}
            <div class="col-lg-6 col-md-8">
                <div><h3 class="text-center mb-4 mt-4">Orders</h3></div>
                <div class="card shadow-lg border-0">
                    <div class="card-body p-5" style="background-color: rgba(0, 0, 0, 0.85);">
                        <h4 class="mb-4">Outstanding</h4>
                        {% if orders %}
                            {% for order in orders %}
                                {% if not order.completed %}
                                    <div class="mb-3" style="border: 0.5px solid rgba(255, 255, 255, 0.205) !important; border-radius: 8px;">
                                        <div class="card-body" style="background-color: rgba(0, 0, 0, 0) !important; background-color: rgba(0, 0, 0, 0.8);">
                                            <h5 class="card-title order-title">Order Reference: <em style="color: rgb(252, 162, 255);">{{ order.reference }}</em></h5>
                                            <hr>
                                            <p><strong>Service:</strong> {{ order.service }}</p>
                                            <p style="word-wrap: break-word;"><strong>Message:</strong> {{ order.message }}</p>
                                            {% if order.invoice %}<p><strong>Price:</strong> £{{ order.invoice }}</p>{% endif %}
                                            {% if order.in_progress %}<p><strong>Status: </strong><em style="text-emphasis: none;">In progress</em> </p>{% endif %}

                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div class="card mb-3">
                                <div class="card-body">
                                    <p>No currently outstanding orders</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if orders %}
                            {% for order in orders %}
                                {% if order.completed %}
                        <h4 class="mb-4">Completed</h4>
                                <div class="mb-3" style="border: 0.5px solid rgba(255, 255, 255, 0.205) !important; border-radius: 8px;">
                                    <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
                                        <h5 class="card-title order-title">Order Reference: <em style="color: rgb(252, 162, 255);">{{ order.reference }}</em></h5>
                                        <hr>
                                        <p><strong>Service:</strong> {{ order.service }}</p>
                                        <p><strong>Message:</strong> {{ order.message }}</p>
                                        {% if order.invoice %}<p><strong>Price:</strong> £{{ order.invoice }}</p>{% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <p>Check in soon for further updates</p>
                                </div>
                            </div>
                        {% endif %}
                            
                        <br>
                        {% if not orders %}
                            <a class="btn btn-secondary btn-md" href="{% url 'orders' %}">Make an order?</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
        <div class="col-lg-6 col-md-8">
            <div><h3 class="text-center mb-4 mt-4">Orders</h3></div>
            <div class="col-lg-6 col-md-8">
                <div class="card shadow-lg border-0">
                    <div class="card-body p-5 text-center" style="background-color: rgba(0, 0, 0, 0.85);">
                        <h4 class="mb-4">No Orders Made</h4>
                        <br>
                        <a class="btn btn-secondary btn-md" href="{% url 'orders' %}">Make an order?</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div>
            <img id="account-image" src="{% static 'images/mascot.png' %}" alt="image of a cool kid sat on a beanbag with a computer on his lap">
        </div>
        </div>

        <div><h3 class="text-center mb-4" style="margin-top: 75px;">Account Settings</h3></div>
        <div class="container d-flex justify-content-center col card shadow-lg border-0" style="margin-bottom: 75px; background-color: rgba(255, 255, 255, 0.05);">
            <div class="row row-cols-1 row-cols-md-2 g-0">
                    <div class="card-body p-5">
                        <h4 class="mb-4">Profile Information</h4>
                        <form method="post" action="#">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="form-label">Full Name</label>
                                <input type="text" readonly class="form-control" id="name" name="name" placeholder="{{user.first_name}} {{user.last_name}}" required>
                                <label for="email" class="form-label mt-3">Email Address</label>
                                <input type="email" readonly class="form-control" id="email" name="email" placeholder="{{user.email}}" required>
                                <label for="business" class="form-label mt-3">Business Name</label>
                                <input type="text" readonly class="form-control" id="business" name="business" placeholder="{{business.business_name}}" required>
                            </div>
                        </form>
                        <p>If you would like to find out about how we handle your information, check <a href="{% url 'privacy' %}" style="color: rgb(247, 157, 255);">our privacy policy</a></p>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="card-body p-5 text-center justify-content-center align-items-center">
                            <a class="btn btn-secondary btn-md" href="{% url 'logout-confirm' %}">Logout?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      let nav_links = Array.from(document.getElementsByClassName("nav-link"));
      for(let i = 0; i < nav_links.length; i++){
        if(nav_links[i].dataset.page === "account"){
          nav_links[i].classList.add("underline-page");
        } else{
          nav_links[i].classList.remove("underline-page");
        }
      }
    });
   </script>
{% endblock %}